@{
    var db = Database.Open("deskOrders");
    var selectedData = db.Query("SELECT * FROM orders");
    var grid = new WebGrid(source: selectedData);
}
<!DOCTYPE html>
<html>
    <head>
        <title>Orders</title>
    </head>
    <body>
        <h1>View Desk Orders</h1>
        <div>
            @grid.GetHtml(
                tableStyle: "grid",
                headerStyle: "head",
                alternatingRowStyle: "alt",
                columns: grid.Columns(
                grid.Column(format: @<a href="~/EditOrder?id=@item.orderId">Edit</a>),
                grid.Column("name"),
                grid.Column("width"),
                grid.Column("length"),
                grid.Column("drawers"),
                grid.Column("material"),
                grid.Column("rushOrder"),
                grid.Column("dateOrdered"),
                grid.Column("total"),
                grid.Column(format: @<a href="~/DeleteOrder?id=@item.orderId">Delete</a>)
    )
)
        </div>
    </body>
</html>
