@{ 
    Layout = "~/Shared/_Layout.cshtml";
}
@section PageTitle { Mega Escritorio }
<div class="container">
    <img src="http://s7d1.scene7.com/is/image/officedepot/576868_p?$OD-Dynamic$&wid=900&hei=900" />
</div>