@{ 
    Layout = "~/Shared/_Layout.cshtml";
}
@section PageTitle { Mega Escritorio }
<div class="container">
    <figure>
        <img class="home_desk" src="http://s7d1.scene7.com/is/image/officedepot/576868_p?$OD-Dynamic$&wid=900&hei=900" alt="Mega Escritorio Desk Example" />
        <figcaption>Example Mega Escritorio Desk - <a href="http://www.officedepot.com/a/products/576868/Sauder-Heritage-Hill-Double-Pedestal-Desk/" target="_blank">Image Source: Office Depot</a></figcaption>
    </figure>
</div>